body {
    text-align: center;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn {
    background-color: red;
    border: 10px solid black;
    height: 200px;
    width: 200px;
    border-radius: 20%;
    margin: 2.5rem;
}

.yellow{
    background-color: rgba(199, 199, 4, 0.814);
}

.red {
    background-color: rgba(154, 9, 9, 0.819);
}

.green {
    background-color: rgba(6, 157, 6, 0.726);
}

.purple {
    background-color: rgba(177, 10, 177, 0.485);
}

.flash {
    background-color: white;
}

.userFlash{
    background-color: green;
}

.gameOver {
    background-color: red;
}